{% extends 'common/base.html' %}
{% block content %}

    <form method="post" enctype="multipart/form-data" action="{% url 'edit song' object.pk %}">
        <h1>Edit song!</h1>
        {% csrf_token %}
        {{ form }}
        <label for="fileInput" class="file-label">Choose an audio file</label>
        <button type="submit" class="upload-button">Save changes</button>
    </form>

    <script>
        let song_link = document.querySelectorAll("form a")[0];
        song_link.style.display = 'none';
    </script>

{% endblock %}