{% extends 'common/base.html' %}
{% block content %}

    {% if not song %}
        <h1>No songs added!</h1>
    {% else %}
        <ul>
            <li id="song">
                <img src="{{ song.song_image_url }}" alt="">

                <div class="song-info">
                    <p id="title">{{ song.title }}</p>
                    <p id="artist">{{ song.artist }}</p>
                    <div class="song-switch-buttons">
                        <a href="{% url 'previous song' song.pk %}" id="song_attrs"><i class="fa-solid fa-backward"></i></a>
                        <a href="{% url 'next song' song.pk %}" id="song_attrs"><i class="fa-solid fa-forward"></i></a>
                    </div>
                </div>

                <audio controls>
                    <source src="{{ song.audio_file.url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </li>
        </ul>
    {% endif %}

{% endblock %}