{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Musically</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>

<body>
<div id="box">

    <!-- Navigation Bar -->
    <header>
        <nav>
            <img src="/images/headphones.png" alt="headphones">
            <a href="{% url 'home page' %}">Home</a>
            <ul></ul>
            <ul>
                <!--Only for user with created profile-->
                <li><a href="{% url 'song details' %}">Songs</a></li>
                <li><a href="{% url 'music upload' %}">Add Music</a></li>
                <li><a href="{% url 'list songs' %}">Create Album</a></li>
                <li><a href="{% url 'details profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            </ul>
        </nav>
    </header>
    <!-- End Navigation Bar -->

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div>
            &copy;Musically Team 2023. All rights reserved.
        </div>
    </footer>
    <!-- End Footer -->

</div>
</body>
</html>