{% extends 'common/base.html' %}
{% block content %}

    <!-- Catalog with Albums-->
    <section id="catalogPage">

        <!--  If No albums in catalog -->
        {% if not music_files %}
            <p>No Albums in Catalog!</p>
        {% else %}
            {#                <!-- If albums in catalog -->#}
            {#                <h1>All Albums</h1>#}
            {#                <!-- First Card-Box in catalog -->#}
            {#                <div class="card-box">#}
            {#                    <img src="/images/BrandiCarlile.png" alt="Cover Image">#}
            {#                    <div>#}
            {#                        <div class="text-center">#}
            {#                            <p class="name">Name: In These Silent Days</p>#}
            {#                            <p class="artist">Artist: Brandi Carlile</p>#}
            {#                            <p class="genre">Genre: Other</p>#}
            {#                            <p class="price">Price: $12.80</p>#}
            {#                        </div>#}
            {#                        <div class="btn-group">#}
            {#                            <a href="#">Details</a>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            <!-- End First Card-Box in catalog -->
            <h2>Music List</h2>
            {% include 'music_player/music-player.html' %}
            {% block music_player %}
            {% endblock %}
        {% endif %}

    </section>

{% endblock %}
