{% extends 'common/base.html' %}
{% block content %}

<!--Home Page-->
<div class="container-inline">
    <section id="welcomePage">
        <div id="welcome-message">
            <h1>Welcome to</h1>
            <h1>My Music App!</h1>
        </div>
        <div class="music-img">
            <img src="/images/musicIcons.webp" alt="music-icon">
        </div>
    </section>

    <!-- Login -->
    <section id="registerPage">
        <form method="post" action="{% url 'login' %}">
            <fieldset>
                <legend>Profile</legend>
                {{ form }}
                <button type="submit" class="register">Login</button>
                <a href="{% url 'register' %}">Do not have an account?</a>
                {% csrf_token %}
            </fieldset>
        </form>
    </section>
</div>

{% endblock %}